# Shared configuration for all microservices
spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# Eureka Client (shared)
eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
  instance:
    prefer-ip-address: true

# Monitoring & Tracing
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus, metrics, tracing
  endpoint:
    health:
      show-details: always
    prometheus:
      enabled: true
  tracing:
    sampling:
      probability: 1.0 # Sample all requests in development
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

# Logging
logging:
  level:
    com.nozie: DEBUG
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

